streamlit==1.25.0
opencv-python-headless==4.8.0.76  # Use headless version as it doesn't require GUI dependencies
ultralytics==8.0.140
Pillow==9.1.0  # Use an older version to avoid build issues with zlib
